<h1 style="text-align: center;">Проверка наличия пользователя</h1>
<form action="/" method="POST">
    Имя пользователя:
    <input name="username" type="text" class="validate" required>
    <br><br>
    <input type="submit" value="Проверить">
</form>